.react-datepicker-popper {
    z-index: 50;
}
.rs-picker-toggle {
    border-color: #ccc; /* Set a neutral border color by default */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.rs-picker-toggle:focus,
.rs-picker-toggle.rs-picker-toggle-active,
.rs-picker-toggle.rs-picker-toggle-focused {
    outline: none; /* Remove the default outline */
    border-color: #FF6200; /* Customize the border color on focus */
    box-shadow: 0 0 0 2px rgba(255, 98, 0, 0.3); /* Add a shadow effect */
}