@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    color: black;
    box-sizing: border-box;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 16px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.rs-picker-toggle {
    border-color: #ccc; /* Set a neutral border color by default */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.rs-picker-toggle:focus,
.rs-picker-toggle.rs-picker-toggle-active,
.rs-picker-toggle.rs-picker-toggle-focused {
    outline: none; /* Remove the default outline */
    border-color: #FF6200; /* Customize the border color on focus */
    box-shadow: 0 0 0 2px rgba(255, 98, 0, 0.3); /* Add a shadow effect */
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinner {
  -moz-appearance: textfield; 
}